Repository NASA-AMMOS/aerie, pull requests merged in 2023-10, with the labels that each got.

#1169 Make Check Constraints Load Correct Sim Dataset
  e2e-tests/src/tests/bindings.test.ts
  e2e-tests/src/tests/constraints-load-old-sim-results.test.ts
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/exceptions/SimulationDatasetMismatchException.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindings.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/InMemoryResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/ResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/GetSimulationDatasetByIdAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresConstraintRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/CachedSimulationService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/SimulationService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/UncachedSimulationService.java
Labels: fix, constraints

#1161 Allow users to insert Plan descriptions
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_plan.yaml
Labels: fix

#1156 Standardize the cached Constraint results to match action results
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/json/ConstraintParsers.java
  deployment/hasura/migrations/AerieMerlin/29_synchronize_cache_schema/down.sql
  deployment/hasura/migrations/AerieMerlin/29_synchronize_cache_schema/up.sql
  merlin-server/sql/merlin/applied_migrations.sql
Labels: fix, constraints

#1159 Add justAfter and justBefore operators to scheduling eDSL
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationFacade.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationResultsConverter.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-worker/build.gradle
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-edsl-fluent-api.ts
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: fix, scheduling

#1177 Improve ConstraintAction Error Messages
  e2e-tests/src/tests/bindings.test.ts
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintAction.java
Labels: refactor, constraints

#1182 Make workers exit when unexpectedly shutdown
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/ListenSimulationCapability.java
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/MerlinWorkerAppDriver.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/ListenSchedulerCapability.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/SchedulerWorkerAppDriver.java
Labels: fix

#1178 Fix Scheduling Assigning Incorrect Span Ids
  e2e-tests/src/tests/scheduling-and-decomposition.test.ts
  e2e-tests/src/types/simulation.d.ts
  e2e-tests/src/utilities/gql.ts
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
Labels: fix, scheduling

#1154 Fix Interval.Horizon
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/AbsoluteInterval.java
  constraints/src/test/java/gov/nasa/jpl/aerie/constraints/tree/ASTTests.java
Labels: fix, constraints

#1196 Grant viewer permission to run validation actions
  deployment/hasura/metadata/actions.yaml
Labels: fix

#1192 Trigger function in scheduling_specification correctly updates spec revision
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/SchedulerDatabaseTests.java
  deployment/hasura/migrations/AerieScheduler/11_fix_scheduling_spec_trigger/down.sql
  deployment/hasura/migrations/AerieScheduler/11_fix_scheduling_spec_trigger/up.sql
  scheduler-server/sql/scheduler/applied_migrations.sql
  scheduler-server/sql/scheduler/tables/scheduling_specification.sql
Labels: fix, scheduling

#1175 Refactor of ActivityExpression and derived classes
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/EquationSolvingAlgorithms.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityTemplateConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/TimeRangeExpression.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/activities/ActivityCreationTemplate.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/activities/ActivityCreationTemplateDisjunction.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/activities/ActivityExpression.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/activities/ActivityExpressionDisjunction.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/ActivityTemplateGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CardinalityGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CoexistenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/RecurrenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/PlanInMemory.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/SchedulingCondition.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/FixedDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/ParametricDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/SimulationFacadeTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestCardinalityGoal.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestRecurrenceGoal.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestRecurrenceGoalExtended.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUnsatisfiableCompositeGoals.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/UncontrollableDurationTest.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GoalBuilder.java
Labels: refactor, scheduling

#1199 Generate TS Constants from Java Enums For Load Tests
  load-tests/.gitignore
  load-tests/load-test.sh
  load-tests/src/load-test.ts
  load-tests/src/requests.ts
Labels: test, fix

#1181 Add `created_by` column to `activity_directive`
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/ActivityDirectiveChangelogTests.java
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/MerlinDatabaseTestHelper.java
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/PlanCollaborationTests.java
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_activity_directive.yaml
  deployment/hasura/migrations/AerieMerlin/30_add_changed_by_act_dir/down.sql
  deployment/hasura/migrations/AerieMerlin/30_add_changed_by_act_dir/up.sql
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/functions/hasura/delete_anchor_functions.sql
  merlin-server/sql/merlin/functions/public/begin_merge.sql
  merlin-server/sql/merlin/functions/public/commit_merge.sql
  merlin-server/sql/merlin/functions/public/create_snapshot.sql
  merlin-server/sql/merlin/functions/public/duplicate_plan.sql
  merlin-server/sql/merlin/functions/public/restore_from_snapshot.sql
  merlin-server/sql/merlin/tables/activity_directive.sql
  merlin-server/sql/merlin/tables/merge_staging_area.sql
  merlin-server/sql/merlin/tables/plan_snapshot_activities.sql
  merlin-server/sql/merlin/views/activity_directive_extended.sql
Labels: feature, database

#1188 Improve scheduling logs
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Windows.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityInstanceConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityTemplateConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingAssociationConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CardinalityGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CoexistenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/RecurrenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/ResumableSimulationDriver.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationFacade.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUnsatisfiableCompositeGoals.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GoalBuilder.java
Labels: scheduling

#1193 Make rootfinding robust to functions with discontinuities
  merlin-sdk/src/main/java/gov/nasa/jpl/aerie/merlin/protocol/types/Duration.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/EquationSolvingAlgorithms.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/RootfindingTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/UncontrollableDurationTest.java
Labels: fix, scheduling, clipper

#1202 Simplify extension_roles
  deployment/hasura/metadata/databases/AerieUI/tables/public_extension_roles.yaml
  deployment/hasura/migrations/AerieUI/2_extensions/up.sql
  deployment/postgres-init-db/sql/ui/tables/extension_roles.sql
Labels: breaking change, refactor, database

#1200 add HTTPS-enabled reverse proxy deployment example
  deployment/.env
  deployment/docker-compose.yml
  deployment/proxy/Dockerfile
  deployment/proxy/docker-compose-proxy.yml
  deployment/proxy/nginx.conf.template
Labels: feature, deployment

#1133 Scheduler shows activity parameters again
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationService.java
  scheduler-server/src/test/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationServiceTest.java
Labels: bug, fix, scheduling
