Repository NASA-AMMOS/aerie, pull requests merged in 2023-03, with the labels that each got.

#577 Provide a single consistent capability for JSON (de)serialization of SerializedValue
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/json/ConstraintParsers.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/json/SerializedValueJsonParser.java
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/json/JsonEncoding.java
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/json/SerializedValueJsonParser.java
  merlin-sdk/src/main/java/gov/nasa/jpl/aerie/merlin/protocol/types/SerializedValue.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/HasuraParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ProfileParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/SerializedValueJsonParser.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/GetSimulationEventsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/InsertSimulationEventsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/ProfileRepository.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinParsersTest.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/SchedulingActivityDirective.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/simulation/InstantiateArgumentsTest.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/StrictSerializedValueJsonParser.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/PostgresParsers.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
Labels: breaking change, refactor

#699 Change methods visibilities for either usage or inheritance
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
Labels: refactor

#701 Update dev docker-compose to remove aerie- prefix from images
  docker-compose.yml
Labels: fix

#683 JSON Spec Updates and SEQ JSON to EDSL fix
  sequencing-server/package-lock.json
  sequencing-server/package.json
  sequencing-server/src/app.ts
  sequencing-server/src/defaultSeqBuilder.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.spec.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/seqjson-to-edsl.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: breaking change, refactor, sequencing

#704 Add apply_preset_to_activity metadata
  deployment/hasura/metadata/databases/AerieMerlin/functions/functions.yaml
Labels: hotfix, fix

#632 Make scheduler's backtracking configuration accessible to user
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/Goal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUnsatisfiableCompositeGoals.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUtility.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/SchedulingDSL.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GoalBuilder.java
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-ast.ts
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-edsl-fluent-api.ts
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingDSLCompilationServiceTests.java
Labels: feature, scheduling

#705 Publish constraints, scheduler-driver and scheduler-worker
  constraints/build.gradle
  scheduler-driver/build.gradle
  scheduler-worker/build.gradle
Labels: build

#709 Use correct join type when querying scheduling conditions
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GetSpecificationConditionsAction.java
Labels: hotfix, fix

#700 Added Ground_Block and Ground_Event to eDSL
  sequencing-server/src/lib/codegen/CommandEDSLPreface.spec.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/src/lib/codegen/CommandTypeCodegen.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/seqjson-to-edsl.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: refactor, sequencing

#698 Add PGCMP Workflow
  .github/scripts/compareDatabasesDown.sh
  .github/scripts/compareDatabasesUp.sh
  .github/scripts/explanations
  .github/workflows/pgcmp.yml
  deployment/aerie_db_migration
  deployment/hasura/migrations/AerieMerlin/0_create_schema_migrations/up.sql
  deployment/hasura/migrations/AerieMerlin/1_anchors/down.sql
  deployment/hasura/migrations/AerieMerlin/1_anchors/up.sql
  deployment/hasura/migrations/AerieScheduler/0_create_schema_migrations/up.sql
  deployment/hasura/migrations/AerieSequencing/0_create_schema_migrations/up.sql
  deployment/hasura/migrations/AerieUI/0_create_schema_migrations/up.sql
Labels: ci

#713 Revert "Added Ground_Block and Ground_Event to eDSL"
  sequencing-server/src/lib/codegen/CommandEDSLPreface.spec.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/src/lib/codegen/CommandTypeCodegen.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/seqjson-to-edsl.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: hotfix, revert

#714 Added Ground_Block and Ground_Event to eDSL
  sequencing-server/src/lib/codegen/CommandEDSLPreface.spec.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/src/lib/codegen/CommandTypeCodegen.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/seqjson-to-edsl.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: refactor, sequencing

#692 Add extendExternalDataset hasura action
  deployment/hasura/metadata/actions.graphql
  deployment/hasura/metadata/actions.yaml
  e2e-tests/src/tests/external-datasets.test.ts
  e2e-tests/src/types/external-dataset.d.ts
  e2e-tests/src/utilities/gql.ts
  e2e-tests/src/utilities/requests.ts
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/exceptions/NoSuchPlanDatasetException.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/HasuraParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindings.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/mocks/InMemoryPlanRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/DatasetId.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/HasuraAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/PlanRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/AppendProfileSegmentsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/CheckPlanDatasetExistsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresPlanRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/ProfileRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/UpdateProfileDurationAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/LocalPlanService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/PlanService.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/mocks/StubPlanService.java
Labels: feature

#717 Release v1.2.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#716 Remove GQL schema validation
  deployment/hasura/metadata/actions.graphql
  deployment/hasura/metadata/actions.yaml
  sequencing-server/test/seqjson-to-edsl.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
  sequencing-server/test/testUtils/Sequence.ts
Labels: breaking change, refactor, sequencing

#715 Refactor app file in sequencing server
  deployment/hasura/metadata/actions.yaml
  sequencing-server/src/app.ts
  sequencing-server/src/routes/command-expansion.ts
  sequencing-server/src/routes/seqjson.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: refactor, sequencing

#729 Refactor sequencing tests
  sequencing-server/test/command-expansion.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
  sequencing-server/test/testUtils/CommandDictionary.ts
Labels: refactor, sequencing

#712 Add Bulk Anchor Delete Functions
  deployment/hasura/metadata/databases/AerieMerlin/functions/functions.yaml
  deployment/hasura/migrations/AerieMerlin/4_bulk_anchor_deletion/down.sql
  deployment/hasura/migrations/AerieMerlin/4_bulk_anchor_deletion/up.sql
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/hasura_functions.sql
Labels: database

#727 Use enums for "enum boolean" types for sequences
  sequencing-server/src/lib/codegen/CommandTypeCodegen.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/command-expansion.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: fix, sequencing

#724 Report the time at which an exception occurs during simulation
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/SimulationDriver.java
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/SimulationException.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/SynchronousSimulationAgent.java
Labels: feature, simulation

#733 Upgrade seq-json-schema in sequencing server to use 1.0.17
  sequencing-server/package-lock.json
  sequencing-server/package.json
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/sequence-generation.spec.ts
Labels: build, sequencing

#735 Support Full export and import of SeqJson
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/seqjson-to-edsl.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: feature, sequencing

#746 Output non-matching eDSL objects to String
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
Labels: hotfix, fix, sequencing

#742 Added triager role to governance model
  docs/GOVERNANCE.md
Labels: documentation

#708 Make simulation optional for scheduling goals
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Spans.java
  constraints/src/test/java/gov/nasa/jpl/aerie/constraints/time/SpansTest.java
  deployment/hasura/migrations/AerieScheduler/1_optional_sim_per_goal/down.sql
  deployment/hasura/migrations/AerieScheduler/1_optional_sim_per_goal/up.sql
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/Goal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-server/sql/scheduler/applied_migrations.sql
  scheduler-server/sql/scheduler/tables/scheduling_specification_goals.sql
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/GoalRecord.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GetSpecificationGoalsAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GoalBuilder.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/PostgresGoalRecord.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/PostgresSpecificationRepository.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/services/SynchronousSchedulerAgent.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: feature, scheduling

#752 Upgrade override qs to 6.11.0
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: build, security

#749 Release v1.3.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#809 Close SimulationEngine when Scheduling Finishes
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/ResumableSimulationDriver.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationFacade.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/services/SynchronousSchedulerAgent.java
Labels: hotfix, scheduling

#815 Add View to track Approximate Absolute Start Time
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/AnchorTests.java
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_activity_directive_extended.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/tables.yaml
  deployment/hasura/migrations/AerieMerlin/8_add_approx_start_offset/down.sql
  deployment/hasura/migrations/AerieMerlin/8_add_approx_start_offset/up.sql
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/init.sql
  merlin-server/sql/merlin/views/activity_directive_extended.sql
Labels: feature, database

#806 Add hardware commands to Command eDSL
  sequencing-server/cdict/command_banananation.xml
  sequencing-server/src/lib/codegen/CommandEDSLPreface.spec.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/src/lib/codegen/CommandTypeCodegen.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/seqjson-to-edsl.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: feature, sequencing

#711 Constrain scheduling goals and specifications
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/SchedulerDatabaseTests.java
  deployment/hasura/migrations/AerieScheduler/2_constrain_goals_and_specs/down.sql
  deployment/hasura/migrations/AerieScheduler/2_constrain_goals_and_specs/up.sql
  scheduler-server/sql/scheduler/applied_migrations.sql
  scheduler-server/sql/scheduler/tables/scheduling_specification.sql
  scheduler-server/sql/scheduler/tables/scheduling_specification_goals.sql
Labels: scheduling

#821 Fixed argument ordering when seqjson is generated
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/src/lib/codegen/CommandTypeCodegen.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/sequence-generation.spec.ts
Labels: fix, sequencing

#820 Get Resources at a Time
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/MerlinDatabaseTests.java
  deployment/hasura/metadata/databases/AerieMerlin/functions/functions.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/tables.yaml
  deployment/hasura/migrations/AerieMerlin/9_get_resources_at_offset/down.sql
  deployment/hasura/migrations/AerieMerlin/9_get_resources_at_offset/up.sql
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/hasura_functions.sql
Labels: feature, database

#723 Upload simulation results after scheduling
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/MerlinDatabaseTests.java
  deployment/hasura/metadata/actions.graphql
  deployment/hasura/migrations/AerieMerlin/10_add_create_partition_trigger/down.sql
  deployment/hasura/migrations/AerieMerlin/10_add_create_partition_trigger/up.sql
  deployment/hasura/migrations/AerieScheduler/3_reference_dataset_id_from_scheduling_request/down.sql
  deployment/hasura/migrations/AerieScheduler/3_reference_dataset_id_from_scheduling_request/up.sql
  e2e-tests/src/tests/scheduler.test.ts
  e2e-tests/src/types/scheduling-goal.d.ts
  e2e-tests/src/utilities/gql.ts
  e2e-tests/src/utilities/requests.ts
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/tables/dataset.sql
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresPlanRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresResultsCellRepository.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationFacade.java
  scheduler-server/sql/scheduler/applied_migrations.sql
  scheduler-server/sql/scheduler/tables/scheduling_request.sql
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/ResultsProtocol.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/graphql/GraphQLParsers.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/EventGraphFlattener.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/ResponseSerializers.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/ActivityAttributesRecord.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/DatasetId.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/ProfileSet.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/CreateRequestAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GetRequestAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/PostgresResultsCellRepository.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/PreparedStatements.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/RequestRecord.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/SetRequestStateAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/PlanService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/ScheduleAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/SimulationStateRecord.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/services/SynchronousSchedulerAgent.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/MockMerlinService.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/MockResultsProtocolWriter.java
Labels: feature, scheduling, database, simulation

#739 Add activity presets to scheduling edsl
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/MissionModelService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationService.java
  scheduler-server/src/test/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationServiceTest.java
  scheduler-server/src/testFixtures/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationServiceTestFixtures.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingDSLCompilationServiceTests.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: feature, scheduling
