Repository NASA-AMMOS/aerie, pull requests merged in 2023-11, with the labels that each got.

#1206 Implement Spans.contains eDSL method
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/json/ConstraintParsers.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Interval.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/SpansConnectTo.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/SpansContains.java
  constraints/src/test/java/gov/nasa/jpl/aerie/constraints/tree/ASTTests.java
  merlin-server/constraints-dsl-compiler/src/libs/constraints-ast.ts
  merlin-server/constraints-dsl-compiler/src/libs/constraints-edsl-fluent-api.ts
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintsDSLCompilationServiceTests.java
Labels: feature, constraints

#1230 Release v2.0.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1219 Update Aerie Dependencies
  db-tests/build.gradle
  e2e-tests/build.gradle
  load-tests/package-lock.json
  merlin-server/build.gradle
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinParsersTest.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/models/MissionModelTest.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/remotes/PlanRepositoryContractTest.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresParsersTest.java
  merlin-worker/build.gradle
  permissions/build.gradle
  scheduler-driver/build.gradle
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/ActivityTypeTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/AerieLanderTestUtility.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/LongDurationPlanTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/SimulationFacadeTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUnsatisfiableCompositeGoals.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUtility.java
  scheduler-server/build.gradle
  scheduler-server/src/test/java/gov/nasa/jpl/aerie/scheduler/server/services/GenerateSchedulingLibActionTest.java
  scheduler-worker/build.gradle
  sequencing-server/package-lock.json
Labels: build, refactor, security

#1231 Fix Parsing Issues with .env in E2E-Tests
  e2e-tests/build.gradle
Labels: test, fix

#1234 Automatically calculate and cache directive validations
  deployment/Environment.md
  deployment/hasura/migrations/AerieMerlin/32_automatic_activity_validations/down.sql
  deployment/hasura/migrations/AerieMerlin/32_automatic_activity_validations/up.sql
  docker-compose.yml
  e2e-tests/docker-compose-test.yml
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/AutomaticValidationTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/MissionModelTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/SchedulingTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/types/ActivityValidation.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/GQL.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/HasuraRequests.java
  examples/banananation/src/main/java/gov/nasa/jpl/aerie/banananation/activities/ExceptionActivity.java
  examples/banananation/src/main/java/gov/nasa/jpl/aerie/banananation/package-info.java
  merlin-framework-processor/src/main/java/gov/nasa/jpl/aerie/merlin/processor/generator/MapperMethodMaker.java
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/tables/activity_directive.sql
  merlin-server/sql/merlin/tables/activity_directive_validations.sql
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/AerieAppDriver.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/config/AppConfiguration.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/ActivityDirectiveForValidation.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/MissionModelId.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/MissionModelRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/GetUnvalidatedDirectivesAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresMissionModelRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PreparedStatements.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/UpdateActivityDirectiveValidationsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/LocalMissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/MissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ValidationWorker.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/mocks/StubMissionModelService.java
Labels: feature, database, clipper, planning

#1222 Fix serialization/deserialization issue for controllable durations
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/SchedulingTests.java
  examples/foo-missionmodel/src/main/java/gov/nasa/jpl/aerie/foomissionmodel/mappers/FooValueMappers.java
  examples/foo-missionmodel/src/main/java/gov/nasa/jpl/aerie/foomissionmodel/mappers/SmartestDurationValueMapper.java
  examples/foo-missionmodel/src/main/java/gov/nasa/jpl/aerie/foomissionmodel/package-info.java
  merlin-framework-processor/src/main/java/gov/nasa/jpl/aerie/merlin/processor/generator/MissionModelGenerator.java
  merlin-sdk/src/main/java/gov/nasa/jpl/aerie/merlin/protocol/model/SchedulerModel.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/Problem.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationFacade.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/FixedDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/LongDurationPlanTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/ParametricDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/SimulationFacadeTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/SimulationUtility.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestCardinalityGoal.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestRecurrenceGoal.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestRecurrenceGoalExtended.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUnsatisfiableCompositeGoals.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/UncontrollableDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/simulation/ResumableSimulationTest.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/MerlinService.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/services/SynchronousSchedulerAgent.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/MockMerlinService.java
Labels: breaking change, fix, clipper

#1245 Release v2.1.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1243 Cancel Running Simulations
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/MerlinDatabaseTests.java
  deployment/hasura/migrations/AerieMerlin/33_notify_cancel_simulation/down.sql
  deployment/hasura/migrations/AerieMerlin/33_notify_cancel_simulation/up.sql
  e2e-tests/build.gradle
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/SimulationTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/types/SimulationDataset.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/GQL.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/HasuraRequests.java
  examples/banananation/src/test/java/gov/nasa/jpl/aerie/banananation/SimulationUtility.java
  examples/foo-missionmodel/src/test/java/gov/nasa/jpl/aerie/foomissionmodel/SimulateMapSchedule.java
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/SimulationDriver.java
  merlin-driver/src/test/java/gov/nasa/jpl/aerie/merlin/driver/AnchorSimulationTest.java
  merlin-driver/src/test/java/gov/nasa/jpl/aerie/merlin/driver/CellExpiryTest.java
  merlin-driver/src/test/java/gov/nasa/jpl/aerie/merlin/driver/TemporalSubsetSimulationTests.java
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/tables/simulation_dataset.sql
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/ResultsProtocol.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/InMemoryResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/SimulationStateRecord.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/LocalMissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/MissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/SimulationAgent.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/SynchronousSimulationAgent.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ThreadedSimulationAgent.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/UncachedSimulationService.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/mocks/StubMissionModelService.java
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/ListenSimulationCapability.java
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/MerlinWorkerAppDriver.java
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/SimulationCanceledListener.java
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/postgres/ListenSimulationStatusAction.java
Labels: breaking change, feature, simulation

#1246 Add the correct number of activities in e2eTest
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/SimulationTests.java
Labels: test, fix

#1242 Return all Constraint during Compilation
  deployment/hasura/migrations/AerieMerlin/34_allow_recompiled_constraints_to_update/down.sql
  deployment/hasura/migrations/AerieMerlin/34_allow_recompiled_constraints_to_update/up.sql
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/ConstraintsTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/types/ConstraintRecord.java
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/tables/constraint.sql
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/exceptions/ConstraintCompilationException.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/Failable.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindings.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintAction.java
Labels: bug, constraints, database, clipper
