Repository NASA-AMMOS/aerie, pull requests merged in 2023-09, with the labels that each got.

#1106 Add initial basic load testing
  .github/workflows/load-test.yml
  README.md
  load-tests/.babelrc
  load-tests/.dashboard.js
  load-tests/.gitignore
  load-tests/README.md
  load-tests/assets/.gitkeep
  load-tests/load-test.sh
  load-tests/package-lock.json
  load-tests/package.json
  load-tests/src/load-test.ts
  load-tests/src/requests.ts
  load-tests/src/utils.ts
  load-tests/tsconfig.json
  load-tests/webpack.config.js
Labels: test

#1123 Pass user-id into Simulation/Scheduling Requests
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/HasuraParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindings.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/InMemoryResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/ResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/CreateSimulationDatasetAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/CachedSimulationService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/GetSimulationResultsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/SimulationService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/UncachedSimulationService.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinParsersTest.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/SchedulerBindings.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/SchedulerParsers.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/mocks/InMemoryResultsCellRepository.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/ResultsCellRepository.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/CreateRequestAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/PostgresResultsCellRepository.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/CachedSchedulerService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/ScheduleAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/SchedulerService.java
Labels: refactor

#1132 Release v1.13.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1137 Array/List parameters are working again in scheduling
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationService.java
  scheduler-server/src/test/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationServiceTest.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: bug, scheduling

#1141 Add cancel trigger to scheduling request
  deployment/hasura/migrations/AerieScheduler/10_cancel_scheduling_trigger/down.sql
  deployment/hasura/migrations/AerieScheduler/10_cancel_scheduling_trigger/up.sql
  scheduler-server/sql/scheduler/applied_migrations.sql
  scheduler-server/sql/scheduler/tables/scheduling_request.sql
Labels: fix, scheduling

#1146 Add line of code count to CI
  .github/workflows/cloc.yml
Labels: ci

#1128 Implement dedicated rollingwindow constraint node
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/json/ConstraintParsers.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/RollingThreshold.java
  constraints/src/test/java/gov/nasa/jpl/aerie/constraints/tree/ASTTests.java
  merlin-server/constraints-dsl-compiler/src/libs/constraints-ast.ts
  merlin-server/constraints-dsl-compiler/src/libs/constraints-edsl-fluent-api.ts
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintsDSLCompilationServiceTests.java
Labels: feature, constraints

#1027 Implement ShiftEdges for Spans
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/json/ConstraintParsers.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/IntervalContainer.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Spans.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Windows.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/ShiftEdges.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/SpansSelectWhenTrue.java
  constraints/src/test/java/gov/nasa/jpl/aerie/constraints/tree/ASTTests.java
  merlin-server/constraints-dsl-compiler/src/libs/constraints-ast.ts
  merlin-server/constraints-dsl-compiler/src/libs/constraints-edsl-fluent-api.ts
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintsDSLCompilationServiceTests.java
Labels: refactor, constraints

#1147 Add Snapshot Tags, Description
  deployment/hasura/metadata/databases/AerieMerlin/tables/metadata/plan_snapshot_tags.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_plan.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_plan_snapshot.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/tables.yaml
  deployment/hasura/migrations/AerieMerlin/27_snapshot_tags_description/down.sql
  deployment/hasura/migrations/AerieMerlin/27_snapshot_tags_description/up.sql
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/init.sql
  merlin-server/sql/merlin/tables/metadata/plan_snapshot_tags.sql
  merlin-server/sql/merlin/tables/plan.sql
  merlin-server/sql/merlin/tables/plan_snapshot.sql
Labels: feature, database

#1069 Add allen relations
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpressionBetween.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/SchedulingDSL.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GoalBuilder.java
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-ast.ts
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-edsl-fluent-api.ts
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/MockMerlinService.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingDSLCompilationServiceTests.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: feature, scheduling

#1124 Scheduling can use external profiles
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/SpansWrapperExpression.java
  e2e-tests/src/tests/bindings.test.ts
  e2e-tests/src/tests/scheduler-external-datasets.test.ts
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CardinalityGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CoexistenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/Goal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/OptionGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/ProceduralCreationGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/RecurrenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/Problem.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/ActivityTemplateJsonParser.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/SchedulerBindings.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/SchedulerParsers.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/ActivityType.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/ExternalProfiles.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/HasuraAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/ResourceType.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/SchedulingDSL.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/UnwrappedProfileSet.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/ConstraintsTypescriptCodeGenerationHelper.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GenerateSchedulingLibAction.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/MerlinService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/MerlinServiceException.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/MissionModelService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/PlanServiceException.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationService.java
  scheduler-server/src/testFixtures/java/gov/nasa/jpl/aerie/scheduler/server/services/TypescriptCodeGenerationServiceTestFixtures.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/SchedulerWorkerAppDriver.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingDSLCompilationService.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/services/SynchronousSchedulerAgent.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/MockMerlinService.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingDSLCompilationServiceTests.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: feature, scheduling

#1149 Implement connectTo
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/json/ConstraintParsers.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Interval.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/SpansConnectTo.java
  constraints/src/test/java/gov/nasa/jpl/aerie/constraints/tree/ASTTests.java
  merlin-server/constraints-dsl-compiler/src/libs/constraints-ast.ts
  merlin-server/constraints-dsl-compiler/src/libs/constraints-edsl-fluent-api.ts
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintsDSLCompilationServiceTests.java
Labels: feature, constraints

#1157 Fix Scheduling DSL Typescript Action
  deployment/hasura/metadata/actions.graphql
  e2e-tests/src/utilities/gql.ts
  e2e-tests/src/utilities/requests.ts
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/SchedulerBindings.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/http/SchedulerParsers.java
Labels: fix, scheduling

#1155 Make GQLMerlinService query table instead of deprecated action
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
Labels: refactor, scheduling

#1158 Fix DB Migrations
  deployment/hasura/migrations/AerieMerlin/19_users/up.sql
  deployment/hasura/migrations/AerieMerlin/26_create_snapshot_signature_change/down.sql
  deployment/hasura/migrations/AerieScheduler/7_definition_consistency/up.sql
Labels: fix, database
