Repository NASA-AMMOS/aerie, pull requests merged in 2023-08, with the labels that each got.

#1049 Add scheduler simulation restart count
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/ResumableSimulationDriver.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationFacade.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/FixedDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/LongDurationPlanTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/ParametricDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/SimulationFacadeTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestCardinalityGoal.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestRecurrenceGoal.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestRecurrenceGoalExtended.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUnsatisfiableCompositeGoals.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/UncontrollableDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/simulation/AnchorSchedulerTest.java
Labels: performance, test, scheduling

#1036 Support Pass By Position for Sequencing
  sequencing-server/src/lib/codegen/CommandEDSLPreface.spec.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/src/lib/codegen/CommandTypeCodegen.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/command-expansion.spec.ts
  sequencing-server/test/seqjson-to-edsl.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: feature, sequencing

#1052 Fix Merlin framework Condition negation
  merlin-framework/src/main/java/gov/nasa/jpl/aerie/merlin/framework/Condition.java
  merlin-framework/src/test/java/gov/nasa/jpl/aerie/merlin/framework/ConditionTest.java
Labels: fix, simulation, merlin framework

#1064 Let `viewer` role get effective args
  deployment/hasura/metadata/actions.yaml
Labels: fix

#1040 Track simulation extent during simulation
  deployment/Environment.md
  deployment/docker-compose.yml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_simulation_dataset.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_simulation_extent.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/tables.yaml
  deployment/hasura/migrations/AerieMerlin/22_simulation_extent/down.sql
  deployment/hasura/migrations/AerieMerlin/22_simulation_extent/up.sql
  docker-compose.yml
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/SimulationDriver.java
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/init.sql
  merlin-server/sql/merlin/tables/simulation_extent.sql
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/ResultsProtocol.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/InMemoryResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/DeleteSimulationExtentAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/UpdateSimulationExtentAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/FixedRateListener.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/LocalMissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/MissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/SynchronousSimulationAgent.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindingsTest.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/mocks/StubMissionModelService.java
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/MerlinWorkerAppDriver.java
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/WorkerAppConfiguration.java
Labels: feature, simulation

#1075 Add gradle dependency submission action
  .github/workflows/security-scan.yml
Labels: ci, security

#1068 Add Bindings Tests for Java Endpoints
  e2e-tests/src/tests/bindings.test.ts
  e2e-tests/src/types/user.d.ts
  e2e-tests/src/utilities/gql.ts
  e2e-tests/src/utilities/requests.ts
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/HasuraParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindings.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/HasuraActivityDirectiveEvent.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/LocalMissionModelService.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindingsTest.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinParsersTest.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/mocks/StubConstraintService.java
  permissions/src/main/java/gov/nasa/jpl/aerie/permissions/exceptions/ExceptionSerializers.java
Labels: test

#1059 eDSL Convert Unbalanced Times
  sequencing-server/src/lib/codegen/CommandEDSLPreface.spec.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
Labels: bug, sequencing

#1082 Update Gradle dependencies
  build.gradle
  constraints/build.gradle
  contrib/build.gradle
  db-tests/build.gradle
  e2e-tests/build.gradle
  examples/banananation/build.gradle
  examples/config-with-defaults/build.gradle
  examples/config-without-defaults/build.gradle
  examples/foo-missionmodel/build.gradle
  examples/minimal-mission-model/build.gradle
  merlin-driver/build.gradle
  merlin-framework-junit/build.gradle
  merlin-framework-processor/build.gradle
  merlin-framework/build.gradle
  merlin-sdk/build.gradle
  merlin-server/build.gradle
  merlin-worker/build.gradle
  parsing-utilities/build.gradle
  permissions/build.gradle
  scheduler-driver/build.gradle
  scheduler-server/build.gradle
  scheduler-worker/build.gradle
  sequencing-server/build.gradle
Labels: build, security

#1076 Reduce Worker Pool Size
  e2e-tests/docker-compose-many-workers.yml
  merlin-worker/src/main/java/gov/nasa/jpl/aerie/merlin/worker/MerlinWorkerAppDriver.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/SchedulerWorkerAppDriver.java
Labels: performance, database

#1085 Update db-test Postgres JDBC driver
  db-tests/build.gradle
Labels: build, security

#1086 Remove unneeded test task in db-tests build.gradle
  .github/workflows/test.yml
  db-tests/build.gradle
Labels: ci

#1094 Fix Viewer Action Permissions
  deployment/hasura/metadata/actions.yaml
Labels: fix

#1041 Activity Directive Changelog
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/ActivityDirectiveChangelogTests.java
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/MerlinDatabaseTestHelper.java
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/PermissionsTest.java
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/PlanCollaborationTests.java
  deployment/hasura/metadata/databases/AerieMerlin/functions/functions.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_activity_directive.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_activity_directive_changelog.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_activity_directive_extended.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/tables.yaml
  deployment/hasura/migrations/AerieMerlin/23_activity_directive_changelog/down.sql
  deployment/hasura/migrations/AerieMerlin/23_activity_directive_changelog/up.sql
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/domain-types/permissions.sql
  merlin-server/sql/merlin/functions/hasura/delete_anchor_functions.sql
  merlin-server/sql/merlin/functions/hasura/hasura_functions.sql
  merlin-server/sql/merlin/functions/public/begin_merge.sql
  merlin-server/sql/merlin/functions/public/commit_merge.sql
  merlin-server/sql/merlin/functions/public/create_snapshot.sql
  merlin-server/sql/merlin/functions/public/duplicate_plan.sql
  merlin-server/sql/merlin/init.sql
  merlin-server/sql/merlin/tables/activity_directive.sql
  merlin-server/sql/merlin/tables/activity_directive_changelog.sql
  merlin-server/sql/merlin/tables/merge_staging_area.sql
  merlin-server/sql/merlin/tables/metadata/user_role_permission.sql
  merlin-server/sql/merlin/tables/plan_snapshot_activities.sql
  merlin-server/sql/merlin/views/activity_directive_extended.sql
Labels: feature, database, simulation

#1098 Fix Scheduler Dropping Activities Outside Plan Bounds
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/ResumableSimulationDriver.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: fix, scheduling

#1088 User Plan Snapshots
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/PermissionsTest.java
  db-tests/src/test/java/gov/nasa/jpl/aerie/database/PlanCollaborationTests.java
  deployment/hasura/metadata/databases/AerieMerlin/functions/functions.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/hasura_functions/create_snapshot_return_value.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/metadata/snapshot_activity_tags.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_plan_snapshot.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_plan_snapshot_activities.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/tables.yaml
  deployment/hasura/migrations/AerieMerlin/24_user_plan_snapshots/down.sql
  deployment/hasura/migrations/AerieMerlin/24_user_plan_snapshots/up.sql
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/domain-types/permissions.sql
  merlin-server/sql/merlin/functions/hasura/snapshot_functions.sql
  merlin-server/sql/merlin/functions/public/create_snapshot.sql
  merlin-server/sql/merlin/functions/public/restore_from_snapshot.sql
  merlin-server/sql/merlin/init.sql
  merlin-server/sql/merlin/tables/metadata/user_role_permission.sql
  merlin-server/sql/merlin/tables/plan_snapshot.sql
Labels: feature, database

#1093 Support non-commands expansions
  sequencing-server/src/defaultSeqBuilder.ts
  sequencing-server/src/lib/codegen/CommandEDSLPreface.ts
  sequencing-server/src/routes/command-expansion.ts
  sequencing-server/src/routes/seqjson.ts
  sequencing-server/src/types/seqBuilder.ts
  sequencing-server/test/__snapshots__/command-types.spec.ts.snap
  sequencing-server/test/command-expansion.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
Labels: feature, sequencing

#1101 Release v1.12.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1051 Load simulation results from DB before scheduling + performance improvements
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Interval.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Windows.java
  e2e-tests/src/tests/scheduler-with-sim.test.ts
  e2e-tests/src/tests/scheduler.test.ts
  e2e-tests/src/utilities/gql.ts
  e2e-tests/src/utilities/requests.ts
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/MissionModel.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityTemplateConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/activities/ActivityCreationTemplate.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CardinalityGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CoexistenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/RecurrenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/Problem.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/ResumableSimulationDriver.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationData.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationFacade.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationResultsConverter.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/LongDurationPlanTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/SimulationFacadeTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/UncontrollableDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/simulation/AnchorSchedulerTest.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/graphql/GraphQLParsers.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/graphql/ProfileParsers.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/PlanService.java
  scheduler-server/src/test/java/gov/nasa/jpl/aerie/scheduler/server/graphql/GraphQLParsersTest.java
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/services/SynchronousSchedulerAgent.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/MockMerlinService.java
Labels: performance, feature, scheduling

#1105 Scheduling edsl real resource tolerance
  merlin-server/constraints-dsl-compiler/src/libs/constraints-edsl-fluent-api.ts
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintsDSLCompilationServiceTests.java
Labels: feature, scheduling

#1102 Update JNISpice Jar
  .github/workflows/create_jnispice.yml
  contrib/build.gradle
  docs/UPDATING_JNISPICE.MD
  third-party/JNISpice-1.0-20190517.205223-2.jar
  third-party/JNISpice-N0067.jar
Labels: build

#1114 Add missing Endpoints to Whitelist
  sequencing-server/src/utils/hasura.ts
Labels: fix, sequencing

#1108 Added a default empty object for parsed_json
  deployment/hasura/migrations/AerieSequencing/4_add_parsed_json/up.sql
  sequencing-server/sql/sequencing/tables/command_dictionary.sql
Labels: fix, sequencing

#1118 Allow Users to cancel pending Sim/Scheduling RQs
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_simulation_dataset.yaml
  deployment/hasura/metadata/databases/AerieScheduler/tables/public_scheduling_request.yaml
Labels: fix

#1090 Addition of two examples to SchedulingIntegrationTests to illustrate …
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-edsl-fluent-api.ts
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: feature, scheduling

#1026 Refactor violations schema
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/json/ConstraintParsers.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/model/ConstraintResult.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/model/Violation.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/ForEachActivityViolations.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/ViolationsOfWindows.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/tree/WindowsOf.java
  constraints/src/test/java/gov/nasa/jpl/aerie/constraints/Assertions.java
  constraints/src/test/java/gov/nasa/jpl/aerie/constraints/tree/ASTTests.java
  deployment/hasura/metadata/actions.graphql
  deployment/hasura/metadata/actions.yaml
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_constraint_run.yaml
  deployment/hasura/migrations/AerieMerlin/25_constraint_violation_schema/down.sql
  deployment/hasura/migrations/AerieMerlin/25_constraint_violation_schema/up.sql
  e2e-tests/src/tests/bindings.test.ts
  e2e-tests/src/tests/constraints.test.ts
  e2e-tests/src/tests/external-datasets.test.ts
  e2e-tests/src/types/constraint.d.ts
  e2e-tests/src/utilities/gql.ts
  e2e-tests/src/utilities/requests.ts
  merlin-server/sql/merlin/applied_migrations.sql
  merlin-server/sql/merlin/tables/constraint_run.sql
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindings.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/ConstraintRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/ConstraintRunRecord.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/GetValidConstraintRunsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/InsertConstraintRunsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresConstraintRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintsDSLCompilationService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/LocalConstraintService.java
Labels: breaking change, refactor, constraints
