Repository NASA-AMMOS/aerie, pull requests merged in 2024-08, with the labels that each got.

#1455 Sequencing e2e - Added channel/parameter and DB state test
  sequencing-server/cdict/channel_banananation.xml
  sequencing-server/cdict/parameter_banananation.xml
  sequencing-server/test/batchLoaders/DictionaryTypescriptBatchLoader.spec.ts
  sequencing-server/test/batchLoaders/expansionBatchLoader.spec.ts
  sequencing-server/test/batchLoaders/expansionSetBatchLoader.spec.ts
  sequencing-server/test/command-dictionary.spec.ts
  sequencing-server/test/command-expansion.spec.ts
  sequencing-server/test/command-types.spec.ts
  sequencing-server/test/db-state.spec.ts
  sequencing-server/test/dictionary.spec.ts
  sequencing-server/test/sequence-generation.spec.ts
  sequencing-server/test/testUtils/CommandDictionary.ts
  sequencing-server/test/testUtils/Dictionary.ts
  sequencing-server/test/testUtils/Expansion.ts
  sequencing-server/test/testUtils/Parcel.ts
Labels: test, sequencing

#1527 Release v2.17.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1533 Use MissionModelId Class instead of String
  deployment/hasura/metadata/actions.graphql
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/AutomaticValidationTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/BindingsTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/types/ActivityValidation.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/GQL.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/HasuraParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/HasuraAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/HasuraMissionModelEvent.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/Plan.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/MissionModelRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresMissionModelRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresPlanRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintsDSLCompilationService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/CreateSimulationMessage.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/GenerateConstraintsLibAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/LocalMissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/MissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/TypescriptCodeGenerationServiceAdapter.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinParsersTest.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/mocks/StubMissionModelService.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/mocks/StubPlanService.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/services/ConstraintsDSLCompilationServiceTests.java
  merlin-server/src/test/java/gov/nasa/jpl/aerie/merlin/server/services/TypescriptCodeGenerationServiceTest.java
Labels: breaking change, refactor

#1537 Release v2.18.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1510 Refactor RecurrenceGoal conflict production and solving
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/IntervalMap.java
  constraints/src/main/java/gov/nasa/jpl/aerie/constraints/time/Windows.java
  merlin-sdk/src/main/java/gov/nasa/jpl/aerie/merlin/protocol/types/Duration.java
  scheduler-driver/build.gradle
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/Conflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityInstanceConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityNetworkConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityTemplateConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingRecurrenceConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/activities/ActivityExpression.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CardinalityGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CoexistenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/RecurrenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/ConflictSatisfaction.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/ConflictSolverResult.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/Evaluation.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/ScheduleAt.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/stn/STN.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/stn/TaskNetwork.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/stn/TaskNetworkAdapter.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestRecurrenceGoal.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestRecurrenceGoalExtended.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestUtility.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/SchedulingDSL.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GoalBuilder.java
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-ast.ts
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-edsl-fluent-api.ts
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingDSLCompilationServiceTests.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: breaking change, fix, scheduling

#1540 GH workflow to publish images for PRs labeled 'publish'
  .github/workflows/publish.yml
Labels: ci, publish
