Repository NASA-AMMOS/aerie, pull requests merged in 2024-03, with the labels that each got.

#1352 Handle 'null' values when deserializing for command expansion
  sequencing-server/src/lib/batchLoaders/simulatedActivityBatchLoader.ts
Labels: bug, sequencing

#1332 Sequence background transpiler
  docker-compose.yml
  sequencing-server/src/app.ts
  sequencing-server/src/backgroundTranspiler.ts
  sequencing-server/src/env.ts
  sequencing-server/src/utils/hasura.ts
Labels: feature, sequencing

#1354 Serialize `NoSuchMissionModel` exception out in activity validations
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/AutomaticValidationTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/types/ActivityValidation.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/GQL.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/HasuraRequests.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/ResponseSerializers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/GetUnvalidatedDirectivesAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/LocalMissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/MissionModelService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/ValidationWorker.java
Labels: fix, database, simulation

#1356 Release v2.5.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1355 Update Plan Metadata
  deployment/hasura/metadata/databases/AerieMerlin/tables/public_plan.yaml
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/GQL.java
Labels: breaking change, fix

#1359 Add Ability to Forcibly Resimulate
  deployment/hasura/metadata/actions.graphql
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/BindingsTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/SimulationTests.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/types/SimulationConfiguration.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/GQL.java
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/utils/HasuraRequests.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/HasuraParsers.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/http/MerlinBindings.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/models/HasuraAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/InMemoryResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/ResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/PostgresResultsCellRepository.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/remotes/postgres/UpdateSimulationConfigurationRevisionAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/CachedSimulationService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/GetSimulationResultsAction.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/SimulationService.java
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/services/UncachedSimulationService.java
Labels: feature, simulation

#1366 Fix Background Transpiler `Latest` Check
  sequencing-server/src/backgroundTranspiler.ts
  sequencing-server/src/utils/hasura.ts
Labels: fix, sequencing

#1368 Improve Sequencing Queries
  sequencing-server/src/lib/batchLoaders/simulatedActivityBatchLoader.ts
  sequencing-server/src/routes/seqjson.ts
Labels: fix, sequencing

#1369 Enable continuous validation thread by default
  deployment/docker-compose.yml
  docker-compose.yml
  e2e-tests/docker-compose-test.yml
  merlin-server/src/main/java/gov/nasa/jpl/aerie/merlin/server/AerieAppDriver.java
Labels: deployment

#1370 Release v2.6.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1174 Improve engine peformance on ancestry traversal
  constraints/build.gradle
  contrib/build.gradle
  db-tests/build.gradle
  e2e-tests/build.gradle
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/SchedulingTests.java
  examples/banananation/build.gradle
  examples/config-with-defaults/build.gradle
  examples/config-without-defaults/build.gradle
  examples/foo-missionmodel/build.gradle
  examples/minimal-mission-model/build.gradle
  examples/streamline-demo/build.gradle
  merlin-driver/build.gradle
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/SimulationDriver.java
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/engine/SignalId.java
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/engine/SimulationEngine.java
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/engine/SpanId.java
  merlin-driver/src/main/java/gov/nasa/jpl/aerie/merlin/driver/timeline/Event.java
  merlin-driver/src/test/java/gov/nasa/jpl/aerie/merlin/driver/AnchorSimulationTest.java
  merlin-driver/src/test/java/gov/nasa/jpl/aerie/merlin/driver/engine/TaskFrameTest.java
  merlin-framework-processor/src/main/java/gov/nasa/jpl/aerie/merlin/processor/generator/MissionModelGenerator.java
  merlin-framework/build.gradle
  merlin-framework/src/main/java/gov/nasa/jpl/aerie/merlin/framework/Context.java
  merlin-framework/src/main/java/gov/nasa/jpl/aerie/merlin/framework/InitializationContext.java
  merlin-framework/src/main/java/gov/nasa/jpl/aerie/merlin/framework/ModelActions.java
  merlin-framework/src/main/java/gov/nasa/jpl/aerie/merlin/framework/QueryContext.java
  merlin-framework/src/main/java/gov/nasa/jpl/aerie/merlin/framework/ReplayingReactionContext.java
  merlin-framework/src/main/java/gov/nasa/jpl/aerie/merlin/framework/ThreadedReactionContext.java
  merlin-framework/src/test/java/gov/nasa/jpl/aerie/merlin/framework/ThreadedTaskTest.java
  merlin-sdk/build.gradle
  merlin-sdk/src/main/java/gov/nasa/jpl/aerie/merlin/protocol/driver/Scheduler.java
  merlin-server/build.gradle
  parsing-utilities/build.gradle
  scheduler-driver/build.gradle
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/ResumableSimulationDriver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/simulation/AnchorSchedulerTest.java
Labels: simulation

#1379 Release v2.6.1
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1374 Fix Versioning Scheduling Migration
  deployment/hasura/migrations/AerieScheduler/13_versioning_scheduling_goals_conditions/down.sql
  deployment/hasura/migrations/AerieScheduler/13_versioning_scheduling_goals_conditions/up.sql
Labels: fix, database

#1377 Update seq-json-schema to 1.0.20
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: sequencing
