Repository NASA-AMMOS/aerie, pull requests merged in 2024-06, with the labels that each got.

#1390 1077 persistent anchors
  e2e-tests/src/test/java/gov/nasa/jpl/aerie/e2e/SchedulingTests.java
  parsing-utilities/src/main/java/gov/nasa/jpl/aerie/json/Uncurry.java
  scheduler-driver/build.gradle
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingActivityTemplateConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/conflicts/MissingAssociationConflict.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/activities/ActivityExpression.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/resources/StateQueryParam.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpression.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpressionConstant.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpressionFromExpr.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpressionLatching.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpressionRelative.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpressionRelativeBefore.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpressionRelativeBinary.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/constraints/timeexpressions/TimeExpressionRelativeSimple.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CardinalityGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/CoexistenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/Goal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/OptionGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/ProceduralCreationGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/goals/RecurrenceGoal.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/PersistentTimeAnchor.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/Plan.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/PlanInMemory.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/Problem.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/model/SchedulingActivityDirective.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationData.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/simulation/SimulationFacade.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/Evaluation.java
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/solver/PrioritySolver.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/FixedDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/ParametricDurationTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/PrioritySolverTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/SimulationFacadeTest.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestApplyWhen.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/TestPersistentAnchor.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/UncontrollableDurationTest.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/models/SchedulingDSL.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/remotes/postgres/GoalBuilder.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/GraphQLMerlinService.java
  scheduler-server/src/main/java/gov/nasa/jpl/aerie/scheduler/server/services/MerlinService.java
  scheduler-worker/build.gradle
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-ast.ts
  scheduler-worker/scheduling-dsl-compiler/src/libs/scheduler-edsl-fluent-api.ts
  scheduler-worker/src/main/java/gov/nasa/jpl/aerie/scheduler/worker/services/SynchronousSchedulerAgent.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/MockMerlinService.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingDSLCompilationServiceTests.java
  scheduler-worker/src/test/java/gov/nasa/jpl/aerie/scheduler/worker/services/SchedulingIntegrationTests.java
Labels: feature, scheduling

#1471 Added a default value to sequence adaptation names so migrations dont…
  deployment/hasura/migrations/Aerie/5_sequence_adaptation_name/down.sql
  deployment/hasura/migrations/Aerie/5_sequence_adaptation_name/up.sql
  deployment/postgres-init-db/sql/tables/sequencing/sequence_adaptation.sql
Labels: fix, sequencing, database

#1473 Release v2.13.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1478 Update 'aerie-ampcs' package to 1.0.6
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: sequencing

#1482 Release v2.11.1
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release

#1476 Sequencing Server Memory Leak
  deployment/docker-compose.yml
  docker-compose.yml
  sequencing-server/src/app.ts
  sequencing-server/src/env.ts
Labels: bug, sequencing

#1487 Using a libjemalloc Allocator for Better Memory Management
  sequencing-server/Dockerfile
Labels: sequencing

#1488 Fix rootfinding by enforcing bounds of initial x-values
  scheduler-driver/src/main/java/gov/nasa/jpl/aerie/scheduler/EquationSolvingAlgorithms.java
  scheduler-driver/src/test/java/gov/nasa/jpl/aerie/scheduler/RootfindingTest.java
Labels: bug, scheduling

#1491 Release v2.14.0
  gradle.properties
  sequencing-server/package-lock.json
  sequencing-server/package.json
Labels: release
